body{font-family: 'Libre Baskerville', serif;
}
h1{font-size: 50px;
}
.alo
{color: orange;}

section{
    display: flex;
}

    .width {width:50%
    padding: 100px;}


}
.link-button{
    text-decoration: none;
background-color: orange;
padding: 10px 40px;}